body {
  background-color: gray;
}
#inputModal {
  background: linear-gradient(blue, green, gray);
}
#screen {
  border: 15px solid black;
  background-color: blue;
  height: 500px;
  border-radius: 40px;
}