body {
  background-color: gray;
  font-family: 'Press Start 2P', cursive;
}
#inputModal {
  background: linear-gradient(blue, green, gray);
}
#inputModal .modal-content, #myModal .modal-content {
  background-color: silver;
}
.choiceBtns{
  margin-top: 70px;
  margin-left: 25px;
}
.scoreDisplay{
  margin-top: 50px;
}
.scoreDisplay h1, .winner{
  font-size: 30px;
}

#screen, #titleScreen {
  color: white;
  border: 15px solid black;
  background-color: blue;
  height: 700px;
  border-radius: 40px;
  margin-top: 10px;
}
#titleScreen {
  display: none;
  text-align: center;
}
#titleScreen h1 {
  font-size: 3.5em;
}
#titleScreen h2 {
  margin-bottom: 70px;
  font-size: 3em;
}
.titleRck {
  margin-top: 70px;
}
.dropdown, .dropdown h5 {
  padding-left: 0;
  padding-right: 0;
}