body {
  background-color: gray;
  font-family: 'Press Start 2P', cursive;
}
#inputModal {
  background: linear-gradient(blue, green, gray);
}
#inputModal .modal-content {
  background-color: silver;
}
#screen {
  color: white;
  border: 15px solid black;
  background-color: blue;
  height: 625px;
  border-radius: 40px;
}